#
# Apache settings:
#

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

DirectoryIndex rfe_calc.html

# Follow symbolic links in this directory.
Options +FollowSymLinks

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on
  
  RewriteCond %{HTTP_USER_AGENT} MSIE.[1234567]
  RewriteRule ^rfe_calc.html /radio/rfe/sorry_no_ie.html [L]
</IfModule>
